html { 
}

body {
    padding-top:70px;
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto
}

div.page {
  margin-left:5px;
  margin-right:5px;
}

img {
  height: auto;
  min-width: 100%;
}

p {
  font-family: Helvetica, 'Times New Roman', Times, serif, sans-serif;
  font-size: 13pt;
}

p.a {
  font-family: Helvetica, 'Times New Roman', Times, serif, sans-serif;
  font-size: 13 pt;
  margin-left: 30px;
}

p.header {
  font-family: Helvetica, 'Times New Roman', Times, serif, sans-serif;
  font-size: 18pt;
  color:blue;
}

li {
  font-family: Helvetica, 'Times New Roman', Times, serif, sans-serif;
  font-size: 13pt;
}