html { 
}

body {
    padding-top:70px;
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto
}

div.page {
  margin-left:5px;
  margin-right:5px;
}

p {
  font-family: "Helvetica Neue", Times, serif;
  font-size: 11pt;
}

p.a {
  font-family: "Helvetica Neue", Times, serif;
  font-size: 11pt;
  margin-left: 30px;
}

p.header {
  font-family: "Helvetica Neue", Times, serif;
  font-size: 18pt;
  color:blue;
}

li {
  font-family: "Helvetica Neue", Times, serif;
  font-size: 11pt;
}