html { 
}

body {
/* background: repeating-linear-gradient( */
/*   -55deg, */
/*   #ddd, */
/*   #ccc 2px, */
/*   #ddd 2px, */
/*   #eee 4px */
/* ); */
    background: #FFFFFF;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}



hr.title {
    display: block;
    width: 1024px;
    height: 1px;
    border: 0;
    border-top: 1px solid #D5D5D5;
    margin: 10px 112px 0px -70px;
}

hr.content {
    text-align:center;
    display: block;
    width: 896px;
    height: 1px;
    border: 0;
    border-top: 1px solid #c5c5c5;
}

ul.topcontent {
	color: #E0E0E0;
}

div.navigation {
    margin-bottom: 30px;
}

div.top {
    box-shadow: 0 0 5px 0px #FFFFFF;
    width: 1024px;
    background-color: #fff;
    margin: auto;
}

div.name
{
	padding-top: 1rem;
	padding-bottom: 20px;
}

div.photo {
    width: 25%;
    float: left;
    
    margin-top:10px;
    display: inline;
    padding-bottom: 20px;
}

div.base{
	width: 50%;
	display: inline;
	padding-bottom: 20px;
}

div.page {
    margin: 0px 70px;
}


table.head {
    width: 100%;
}

td.head {
    padding: 2px;
}

div.contacts {
    float: right;
    text-align: right;
    margin-top: 12px;
}

div.content {
    padding-bottom: 20px;
}

ul.a {
    list-style-type: disc;
}

ul.b {
    list-style-type: none;
    padding-left: 0em;
    margin-top: 30px;
}

ul.c {
    list-style-type: none;
    padding-left: 0em;
    margin-top: 20px;
}

li.c {
    margin: 15px 0px;
}

a:link {
    color:#0055CC
}
a:hover {
    color:#0055CC
}
a:visited:hover {
    color:#CC0000
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-top:14px;
}
h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-top:-5px;
    margin-bottom:-10px;
    color: blue;
}


h2 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

pr {
    font-size: 1rem;
    float: right;
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

